<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="isUserCoach">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{toolbarTitle}}</ion-title>
    <ion-buttons slot="primary" *ngIf="!isUserCoach">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="!hasCoach">
    <ion-card-header>
      <ion-card-title>Find a new coach</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Looks like you don't have a coach at the moment; you can go to <a routerLink="/profile">your profile</a> and find a new one!
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="activities">
    <ion-item *ngFor="let activity of activities" (click)="showActivity(activity)" detail="true" [color]="today == activity.date.slice(0, 10) ? 'light' : ''">
      <ion-icon [name]="getActivityIcon(activity.discipline.name)" slot="start"></ion-icon>
      <ion-label>{{activity.description}}</ion-label>
      <ion-note slot="end">{{activity.date | date:'d LLL'}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreActivities($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more activities..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isUserCoach">
    <ion-fab-button (click)="addActivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
  