<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="isUserCoach">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{toolbarTitle}}</ion-title>
    <ion-buttons slot="primary" *ngIf="!isUserCoach">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="!hasCoach">
    <ion-card-header>
      <ion-card-title>Find a new coach</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Looks like you don't have a coach at the moment; you can go to <a routerLink="/profile">your profile</a> and find a new one!
    </ion-card-content>
  </ion-card>

  <ion-calendar [(ngModel)]="calendarDate"
              (change)="onDayChange($event)"
              (monthChange)="onMonthChange($event)"
              [type]="calendarType"
              [options]="calendarOptions"
              [format]="'DD-MM-YYYY'">
  </ion-calendar>

  <ion-list *ngIf="todayActivities">
    <ion-item *ngFor="let activity of todayActivities" (click)="showActivity(activity)" detail="true">
      <ion-label><span class="maki-{{getActivityIcon(activity.discipline.name)}}"></span> {{activity.description}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="todayActivities && todayActivities.length == 0">
    <ion-label><span class="maki-lodging"></span>  No training today!</ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isUserCoach">
    <ion-fab-button (click)="addActivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
  