<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <ion-card class="login-card">
          <img src="./assets/images/main.jpg" />
          <ion-card-header>
            <ion-card-subtitle>TriTogether</ion-card-subtitle>
            <ion-card-title>Password Reset</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="forgotPasswordForm">
              <ion-item>
                <ion-label position="floating">Your Email</ion-label>
                <ion-input type="text" formControlName="username" minlength="10" maxlength="100">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="gotTmpCode">
                <ion-label position="floating">Your Temporary Code</ion-label>
                <ion-input type="text" formControlName="tmpCode" minlength="12" maxlength="12"></ion-input>
              </ion-item>
              <ion-item *ngIf="gotTmpCode">
                <ion-label position="floating">New Password</ion-label>
                <ion-input type="password" formControlName="newPassword" minlength="8" maxlength="60">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="gotTmpCode">
                <ion-label position="floating">Confirm New Password</ion-label>
                <ion-input type="password" formControlName="confirmNewPassword" minlength="8" maxlength="60">
                </ion-input>
                <ion-text color="danger" *ngIf="forgotPasswordForm.get('newPassword').value != forgotPasswordForm.get('confirmNewPassword').value && forgotPasswordForm.get('confirmNewPassword').value != null">
                  <p><ion-icon name="alert-circle-outline"></ion-icon> Password does not match</p>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Are you a coach?</ion-label>
                <ion-checkbox formControlName="isCoach"></ion-checkbox>
              </ion-item>
              <ion-button [disabled]="loading || forgotPasswordForm.invalid" expand="block" (click)="onSubmit()">
                <img style="margin-right:10px;" *ngIf="loading"
                  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                Submit
              </ion-button>
            </form>
            <ion-button [disabled]="loading" fill="outline" expand="block" (click)="swapEnterCode()">
              {{swapEnterCodeLabel}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item detail="false" lines="none" button (click)="backToLogIn()">
          <ion-label class="ion-text-center">
            Back to Log in
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>