<ion-item-divider>
  <ion-label>
    Change your password
  </ion-label>
</ion-item-divider>
<form [formGroup]="changePasswordForm">
  <ion-item>
    <ion-label position="floating">Current Password</ion-label>
    <ion-input type="password" formControlName="currentPassword" minlength="8" maxlength="60" [disabled]="!editMode">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" formControlName="newPassword" minlength="8" maxlength="60" [disabled]="!editMode">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm New Password</ion-label>
    <ion-input type="password" formControlName="confirmNewPassword" minlength="8" maxlength="60" [disabled]="!editMode">
    </ion-input>
    <ion-text color="danger" *ngIf="changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmNewPassword').value && changePasswordForm.get('confirmNewPassword').value != null">
      <p><ion-icon name="alert-circle-outline"></ion-icon> Password does not match</p>
    </ion-text>
  </ion-item>
      <ion-button [disabled]="loading || changePasswordForm.invalid" expand="block" fill="outline" (click)="onSubmit()">
    <img style="margin-right:10px;" *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    Update
  </ion-button>
</form>
