<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="switchEditMode()" *ngIf="!loading">
        <ion-icon *ngIf="!editMode" slot="icon-only" name="create-outline"></ion-icon>
        <ion-icon *ngIf="editMode" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="loading || userForm.invalid" (click)="profileSubmit()" *ngIf="editMode">
        <img style="margin-right:10px;" *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col class="ion-align-self-center" size-xs="4" size-md="2">
      <div class="ion-text-center">
        <p>Profile Pic</p>
      </div>
      <ion-avatar class="ion-margin-start" style="margin:auto">
        <img src="./assets/images/avatar.svg">
      </ion-avatar>
    </ion-col>
    <ion-col size-xs="8" size-md="10">
      <form [formGroup]="userForm">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required placeholder="Enter your name" minlength="5" maxlength="80"
            formControlName="name" [readonly]="!editMode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required placeholder="Enter your email" minlength="10" maxlength="100"
            formControlName="email" [readonly]="!editMode"></ion-input>
        </ion-item>
        <ion-item *ngIf="editMode">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required placeholder="Enter your password" minlength="8" maxlength="60"
            formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="user.coach">
          <ion-label position="floating">Coach</ion-label>
          <ion-input type="text" [value]="user.coach.name" readonly></ion-input>
          <ion-button [disabled]="loading || userForm.invalid" *ngIf="user.coach && editMode" slot="end" size="small"
            fill="outline" (click)="profileSubmit(true)">
            Stop coaching
          </ion-button>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="coaches && !isUserCoach && !notifications.length && !user.coach">
    <ion-item-divider>
      <ion-label>
        Select a coach
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let coach of coaches">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{coach.name}}</ion-label>
      <ion-button size="small" fill="outline" slot="end" (click)="requestCoaching(coach)">Request</ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="notifications.length && !user.coach">
    <ion-item-divider>
      <ion-label>
        Coaching requests
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let notification of notifications">
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label *ngIf="!isUserCoach">{{notification.coach.name}}</ion-label>
      <ion-button *ngIf="!isUserCoach" fill="outline" size="small" slot="end" (click)="rejectCoaching(notification)">
        Cancel</ion-button>
      <ion-label *ngIf="isUserCoach">{{notification.athlete.name}}</ion-label>
      <ion-button *ngIf="isUserCoach" fill="outline" size="small" slot="end"
        (click)="confirmCoachingAlert(notification)">Respond</ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isUserCoach && user.coach">
    <ion-list-header>
      Training Availability
    </ion-list-header>
    <ion-item>
      <ion-label>Monday</ion-label>
      <ion-toggle [(ngModel)]="availability[0]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tuesday</ion-label>
      <ion-toggle [(ngModel)]="availability[1]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wednesday</ion-label>
      <ion-toggle [(ngModel)]="availability[2]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Thursday</ion-label>
      <ion-toggle [(ngModel)]="availability[3]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Friday</ion-label>
      <ion-toggle [(ngModel)]="availability[4]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Saturday</ion-label>
      <ion-toggle [(ngModel)]="availability[5]"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Sunday</ion-label>
      <ion-toggle [(ngModel)]="availability[6]"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="athletes && athletes.length > 0 && isUserCoach">
    <ion-item-divider>
      <ion-label>
        Your athletes
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let athlete of athletes">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{athlete.name}}</ion-label>
      <ion-button *ngIf="editMode" [disabled]="loading || userForm.invalid" size="small" fill="outline" color="warning"
        slot="end" (click)="confirmStopCoaching(athlete)">Stop coaching</ion-button>
    </ion-item>
  </ion-list>

</ion-content>